<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
      <h4>Logging you out...</h4>
      <p class="mt-3">
        <a href="{{returnURL}}" class="btn btn-success btn-lg" role="button" aria-disabled="true">
          Return to Engineers.SG &raquo;
        </a>
      </p>
    </div>
  </div>
</div>
<script>
  const esgAuthStorage = window.localStorage
  esgAuthStorage.clear()
  setTimeout(() => {
    window.location = "{{returnURL}}"
  }, 3000)
</script>